body{
    background-color: yellow;
}
button{
    background-color: rgb(173, 237, 253);
    border-color: blueviolet;
    border-radius: 10%;

}

a:link{
    color: deeppink;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


a:visited{
    color:black;
}

a:hover{
    color:blueviolet;
    text-decoration: line-through;
}

a:active{
    color:yellow;
}

a:focus{
    font-size: 20px;
}